<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>错误:</h2>

      <ul>
      <% @user.errors.each do |msg| %>
        <li><%= @user.errors[msg][0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <div class="field">
    <%= f.label :name, "邮箱" %><br />
    <%= f.text_field :name, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :password, '密码' %><br />
    <%= f.password_field :password, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, '确认密码' %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
